* {
    padding: 0;
    margin: 0;
}

.boardRow{
   display: flex;
    width: 240px;
    height: 80px;
}

.box{
    box-shadow: none;
    background-color: white;
    border: 1px solid rgb(88, 86, 86);
    width: 80px;
    height: 80px;
}

.winner-glow{
    background-color: lime;
}